<!--<h1 class="text-muted display-4">Login</h1>-->
<!--<div class="card-body">-->
<!--  <div class="alert alert-danger" *ngIf="invalidLogin">{{errorMessage}}</div>-->

<!--  <div class="card-body">-->
<!--    Username: <input type="text" id="username" name="username" [(ngModel)]="username">-->
<!--    Password: <input type="password" name="password" [(ngModel)]="password">-->

<!--    <button class="btn btn-primary" (click)="handleLogin()">Login</button>-->
<!--  </div>-->
<!--</div>-->


<div class="alert alert-danger" *ngIf="invalidLogin">{{errorMessage}}</div>
<body class="text-center">
<form class="form-signin">
  <div class="container-sm">
    <h1 class="display-4 text-muted">Login</h1>
    <input type="text" name="username" placeholder="Username" [(ngModel)]="username">
    <input type="password" name="password" placeholder="Password" [(ngModel)]="password">
    <button class="btn btn-primary" (click)="handleLogin()" >Login</button>
  </div>
</form>
</body>

